* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  color: #fff;
}
.title-icon {
  display: flex;
  justify-content: space-between;
}
.fa-trash,
.fa-pen-to-square {
  cursor: pointer;
}
.home__link {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #dc3545;
}
.app__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
